<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gem_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,502}</string>
                <key>spriteSourceSize</key>
                <string>{501,502}</string>
                <key>textureRect</key>
                <string>{{0,0},{501,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,502}</string>
                <key>spriteSourceSize</key>
                <string>{501,502}</string>
                <key>textureRect</key>
                <string>{{501,0},{501,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,502}</string>
                <key>spriteSourceSize</key>
                <string>{502,502}</string>
                <key>textureRect</key>
                <string>{{0,502},{502,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,502}</string>
                <key>spriteSourceSize</key>
                <string>{501,502}</string>
                <key>textureRect</key>
                <string>{{502,502},{501,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,502}</string>
                <key>spriteSourceSize</key>
                <string>{501,502}</string>
                <key>textureRect</key>
                <string>{{0,1004},{501,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,502}</string>
                <key>spriteSourceSize</key>
                <string>{501,502}</string>
                <key>textureRect</key>
                <string>{{501,1004},{501,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gemTiles.png</string>
            <key>size</key>
            <string>{1003,1506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b4e88e820944de10f9e62c674841861:198abcd96dcebd64aa981a3d8f56c1d5:50ba253a78ec652f8d0ef4d48730c02b$</string>
            <key>textureFileName</key>
            <string>gemTiles.png</string>
        </dict>
    </dict>
</plist>
